body {
    color: white;
    background-color:#022c33;
    background-repeat: no-repeat;
    background-size:cover;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.center {
    text-align: center;
    margin-right: auto;
    display:block
}
h1 {
    text-align: center;
}

.list {
    list-style: none;
}

.list li {
    padding: 10px 0px;
}